/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * TutorialLoonTonk implementation : © LoonTonk
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*
	This is the CSS stylesheet of your game User Interface.
	
	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in tutorialloontonk.js).
	
	Usually, you are using CSS to:
	
	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).
	
	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/

/*
	Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

	.white_token {
		background-image: url('img/tokens.png');
		background-position: 0px 0px;
	}
	.black_token {
		background-image: url('img/tokens.png');
		background-position: -20px 0px;
	}
	.token {
		width: 20px;
		height: 20px;
		background-repeat: none;
	}
*/

#board {
    // Setup Image
    width: 536px;
    height: 528px;
    background-image: url('img/board.jpg');
    // Center the board
    margin: auto;
    left: 0; top: 0; right: 0; bottom: 0;
    // Tokens and squares are absolutely placed relative to the board
    position: relative;
}

.square {
    // Size of a square
    width: 62px;
    height: 62px;
    // Position relative to the board, not affected by other elements.
    position: absolute;
    // Placeholder for validating the positions.
    background-color: red;
}

.possibleMove {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    transition: 100ms;
}

.possibleMove:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.token-container { background-color: transparent; width: 56px; height: 56px; perspective: 250px; position: absolute; }

.token-flip { position: relative; width: 100%; height: 100%; text-align: center; transition: transform 1.2s; transform-style: preserve-3d; border-radius:50%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25); }

.flipped > .token-flip { transform: rotateY(180deg); }

//.tokencolor_cbcbcb, .tokencolor_363636, .tokencolor_00FFFF, .tokencolor_FFFF00, .back-color_cbcbcb, .back-color_363636, .back-color_00FFFF, .back-color_FFFF00
//.front, .back
// { position: absolute; width: 56px; height: 56px; -webkit-backface-visibility: hidden; backface-visibility: hidden; background-image: url('img/new_tokens.png'); background-position: -56px 0px}

.tokencolor_cbcbcb, .tokencolor_363636, .tokencolor_00FFFF, .tokencolor_FFFF00 {background-image: url('img/new_tokens.png'); width: 100%; height: 100%;
     position: absolute; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.back { transform: rotateY(180deg); }

.tokencolor_cbcbcb { background-position: 0px 0px; } // White token
.tokencolor_363636 { background-position: -56px 0px; } // Black token
.tokencolor_00FFFF { background-position: -112px 0px; } // Blue token
.tokencolor_FFFF00 { background-position: -168px 0px; } // Yellow token

//.back-color_cbcbcb { background-position: 0px 0px; transform: rotateY(180deg); } // White token
//.back-color_363636 { background-position: -56px 0px; transform: rotateY(180deg); } // Black token
//.back-color_00FFFF { background-position: -112px 0px; transform: rotateY(180deg); } // Blue token
//.back-color_FFFF00 { background-position: -168px 0px; transform: rotateY(180deg); } // Yellow token

// This overrides the #board + .token- images when the .game_style_wooden is automatically added to the page (by the user preference).
.game_style_wooden {
    #board {
        background-image: url('img/wooden_board.jpg');
    }
    .token-white, .token-black {
        background-image: url('img/wooden_tokens.png');
    }
}